header {
  background-color: #fdfff9;
  margin: 1% 12% -2% 12%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

header .head-image {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

header .head-image img {
  margin-left: 5%;
  border-radius: 150px;
}

header .head-name {
  margin: 1% 0% 0 0%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

header .head-list {
  margin: 3% 0% 0 0%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}

header .head-list ul {
  padding: 0% 0 3% 0;
}

header .head-list ul li {
  display: inline;
  padding: 0% 5% 3% 0;
}

header .head-list ul li a {
  padding: 1% 0 1% 0;
}

header .head-list ul li a:link {
  border-bottom: 2px dashed #f4dd90;
  color: black;
  text-decoration: none;
}

header .head-list ul li a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 2px dashed #f4dd90;
}

header .head-list ul li a:hover {
  background-color: #f4dd90;
  border-radius: 5px;
  color: #fdfff9;
}

body {
  background-color: #fdfff9;
}

main {
  background-color: #fdfff9;
  margin: 0% 12% 5% 12%;
}

main .about {
  padding: 1% 1% 1% 1%;
  font-size: 1.2em;
  text-indent: 5%;
  border-bottom: dashed 2px #723e3d;
  color: rgba(50, 50, 50, 0.8);
}

main .skills {
  margin-bottom: 5%;
}

main .skills h3 {
  font-size: 1.3em;
  font-weight: 800;
}

main .skills h4 {
  margin-left: 2%;
  font-size: 1em;
  font-weight: normal;
  border-bottom: #4c7ec9 solid 2px;
  display: inline;
}

main .skills ul {
  font-size: 1.4em;
}

main .skills ul li {
  display: inline;
}

main .experience {
  margin-bottom: 5%;
}

main .experience div {
  padding: 0 0 0 2%;
}

main .experience h3 {
  font-size: 1.3em;
  font-weight: 800;
}

main .experience h4 {
  margin-left: 0%;
  font-size: 1em;
  font-weight: normal;
  border-bottom: #4c7ec9 solid 2px;
  display: inline;
}

main .experience p {
  margin-left: 2%;
  text-indent: 5%;
  color: rgba(50, 50, 50, 0.8);
}

main .experience a:link {
  color: black;
  text-decoration: none;
}

main .experience a:visited {
  color: black;
  text-decoration: none;
}

main .experience a:hover {
  background-color: #723e3d;
  border-radius: 5px;
  color: #fdfff9;
}

main .card {
  border-radius: 5px;
  color: #fdfff9;
  display: inline;
  background-color: #4c7ec9;
  font-size: .8em;
  padding: .5% .5% .5% .5%;
}

main .kinda-card {
  border-radius: 5px;
  color: rgba(50, 50, 50, 0.8);
  display: inline;
  font-size: .75em;
  padding: .5% .5% .5% .5%;
}

main .work ul li {
  padding-top: 5px;
}

main .work ul li a:link {
  color: #4c7ec9;
  text-decoration: underline;
}

main .work ul li a:visited {
  color: #723e3d;
}

main .work ul li a:hover {
  background-color: #723e3d;
  border-radius: 5px;
  color: #fdfff9;
}

main .why p {
  text-indent: 5%;
  color: rgba(50, 50, 50, 0.8);
}

main .contact {
  margin-bottom: 5%;
}

main .contact div {
  padding: 0 0 0 2%;
}

main .contact h3 {
  font-size: 1.3em;
  font-weight: 800;
}

main .contact h4 {
  margin-left: 0%;
  font-size: 1em;
  font-weight: normal;
  border-bottom: #4c7ec9 solid 2px;
  display: inline;
}

main .contact p {
  margin-left: 2%;
  text-indent: 5%;
  color: rgba(50, 50, 50, 0.8);
}

main .contact a:link {
  color: black;
  text-decoration: none;
}

main .contact a:visited {
  color: black;
  text-decoration: none;
}

main .contact a:hover {
  background-color: #723e3d;
  border-radius: 5px;
  color: #fdfff9;
}

main .thanks {
  margin-top: 5%;
  text-align: center;
  color: rgba(50, 50, 50, 0.8);
}

* {
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* border: 2px solid black;*/
/*# sourceMappingURL=style.css.map */